#titlebar {
  display: flex;
  padding: 2.5rem;
  background: rgb(242,178,231);
  background: linear-gradient(180deg, rgba(242,178,231,0.4) 7%, rgba(165,230,242,0.3) 31%, rgba(2,0,36,0) 75%);
  font-weight: 100;
  font-size: 2rem;
  #logout-btn {
    margin-left: auto;
  }
}

.content {
  width: 90%;
  margin: auto;
  padding: 10px;

  mat-card {
    margin-bottom: 1rem;
  }
}

.widget-icon {
  font-size: 20px;
  vertical-align: middle;
}
